.header__button {
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
  cursor: pointer;
  object-fit: fill;
  padding-bottom: 0;
}

.header__button:focus-visible {
  outline: none;
}

.header__button__container {
  display: flex;
  gap: 5px;
}

.header__button__text {
  font: var(--font-golos-12-16);
  color: var(--colors-interface-primary);
}
