.link {
  text-decoration: none;
  list-style: none;
  align-items: center;
  max-height: 60px;
  min-height: 39px;
  border-bottom: 4px solid transparent;
}

.link_active {
  border-bottom: 4px solid var(--colors-interface-primary);
}

.link__title {
  padding-bottom: 11px;
  min-width: 134px;
}

.link:not(.link_active):hover {
  border-bottom: 4px solid var(--colors-interface-primary-additional);
}

@media screen and (min-width: 920px) and (max-width: 1300px) {
  .link__title {
    min-width: 7.5vw;
  }
}

@media (max-width: 920px) {
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .link__title {
    min-width: unset;
    padding: 0;
  }

  .link__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
