.link {
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  align-items: center;
  color: var(--colors-interface-black);
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  max-height: 60px;
  min-height: 39px;
  background-color: transparent;
}

.link_active {
  border-bottom: 4px solid var(--colors-interface-primary);
}

.link__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 7px 8px;
  border-bottom: 4px solid transparent;
  min-width: 134px;
}

.link_active .link__title {
  padding-bottom: 4px;
}

.link:not(.link_active):hover .link__title {
  border-bottom: 4px solid var(--colors-interface-primary-additional);
}

@media screen and (min-width: 920px) and (max-width: 1300px) {
  .link__title {
    min-width: 7.5vw;
  }
}

@media (max-width: 920px) {
  .link {
    display: flex;
    flex-direction: column;
    min-width: unset;
    padding: 0;
  }

  .link__title {
    min-width: unset;
    border-bottom: 4px solid transparent;
    justify-content: end;
    padding: 0 7px 0 0;
  }

  .link__icon {
    display: flex;
    margin-top: 0;
    justify-content: center;
    border-bottom: 4px solid transparent;
  }

  .link:not(.link_active):hover .link__title {
    border-bottom: none;
  }

  .link:not(.link_active):hover .link__icon {
    border-bottom: none;
  }

  .link:not(.link_active):hover {
    border-bottom: 4px solid var(--colors-interface-primary-additional);
  }
}
