.timePicker {
  width: 86px;
  height: 34px;
  border: 1px solid #818c99;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 0 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.timePickerContainer {
  display: flex;
  padding: 10px 36px 10px 10px;
  border: 1px solid #818c99;
  margin: 0 10px;
}

.timePickerContainer__input {
  width: 48px;
  height: 15px;
  padding: 0;
  border: none;
  font-family: 'Golos', sans-serif;
  font-size: 14px;
  line-height: 14px;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}
