.form {
  width: 50%;
  padding-left: 30px;
  position: relative;
}

@media (max-width: 920px) {
  .form {
    width: 94%;
  }
}

.input {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 34px;
  margin-bottom: 40px;
}

.input label {
  color: var(--colors-interface-black);
}

.input ::placeholder {
  font-size: var(--font-size-small);  
}

.text-block {
  position: relative;
}

.text-block ::placeholder {
  font-size: var(--font-size-small);  
}

.attachment-button {
  position: absolute;
  top: 200px;
  right: 15px;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border-style: none;
}

.input-file {
  display: none;
}

.images {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.image {
  display: flex;
  gap: 10px;
  align-items: center;
}

.image-title {
  margin: 0;
  color: var(--colors-interface-primary);
}

.close-cross-button {
  border-style: none;
  text-align: right;
  padding: 0;
  height: 14px;
}

@media (max-width: 550px) {
  .attachment-button {
    top: 95px;
  }
}
