.main {
  height: calc(100% - 141px);
  padding: 0 92px;
  margin-top: 30px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 22px;
  left: 384px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 152px;
  width: calc(100% - 384px);
  pointer-events: none;
}

@media screen and (max-width: 1300px) {
  .main {
    padding: 0 25px;
  }
  .overlay {
    left: 318px;
    width: calc(100% - 358px);
  }
}

@media screen and (max-width: 920px) {
  .main {
    height: calc(100vh - 89px - 22px - 30px);
  }
  .overlay {
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .main {
    height: calc(100vh - 53px - 22px - 30px);
  }
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  height: 22px;
  overflow: hidden;
}
