.main {
  height: calc(100% - 141px);
  margin-top: 28px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 22px;
  left: 315px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 152px;
  width: calc(100% - 315px);
  pointer-events: none;
}

.overlayMaxWidth {
  position: fixed;
  bottom: 22px;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 152px;
  width: 100%;
  pointer-events: none;
}

@media screen and (max-width: 920px) {
  .main {
    height: calc(100% - 160px);
  }

  .overlay {
    left: 0;
    width: 100%;
    bottom: 22px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    height: calc(100% - 112px);
  }
}

@media all and (max-width: 415px) {
  .main {
    height: calc(100% - 42px);
    margin-top: 20px;
  }

  .overlay {
    bottom: -40px;
  }

  .overlayMaxWidth {
    bottom: -40px;
  }
}
