.main {
  height: calc(100% - 141px);
  margin-top: 28px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 22px;
  left: 384px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 152px;
  width: calc(100% - 384px);
  pointer-events: none;
}

.overlayMaxWidth {
  position: absolute;
  bottom: 22px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 152px;
  width: 100%;
  pointer-events: none;
}

@media screen and (max-width: 1300px) {
  .overlay {
    left: 318px;
    width: calc(100% - 358px);
  }
}

@media screen and (max-width: 920px) {
  .main {
    height: calc(100vh - 53px - 22px - 30px);
  }

  .overlay {
    left: 0;
    width: 100%;
    bottom: -22px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    height: calc(100vh - 33px - 22px - 30px);
  }

  .overlay {
    left: 0;
    width: 100%;
    bottom: 0;
  }
}

@media screen and (max-width: 812px) {
  .main {
    height: calc(100vh - 20px - 30px);
  }

  .overlay {
    left: 0;
    width: 100%;
    bottom: -35px;
  }
}

@media all and (max-width: 415px) {
  .main {
    margin-top: 20px;
    height: 100vh;
  }

  .overlay {
    bottom: -82px;  
  }
}

.footer {
  width: calc(100% + 25px * 2);
  margin-left: -25px;
  margin-right: -25px;
  height: 22px;
  overflow: hidden;
}
