.informer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colors-interface-primary-additional);
}

.informer--with-text {
  gap: 10px;
}

.informer-img-block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 102px;
  width: 100%;
  height: 102px;
  border-radius: 50%;
  background-color: var(--colors-interface-primary-additional);
}

.informer-text {
  text-align: center;
}
