.informer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colors-interface-primary-additional);
}

.informer--withText {
  gap: 10px;
}

.informer-imgBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 102px;
  width: 100%;
  height: 102px;
  border-radius: 50%;
  background-color: var(--colors-interface-primary-additional);
}

.informerText {
  text-align: center;
}

.informerImg {
  width: 56px;
  height: 50px;
}
