.main {
  height: calc(100% - 141px);
  margin-top: 28px;
  position: relative;
}

@media screen and (max-width: 1300px) {
  .main {
    padding: 0 25px;
  }
  .overlay {
    left: 318px;
    width: calc(100% - 358px);
  }
}

@media screen and (max-width: 1050px) {
  .main {
    height: calc(100% - 108px - 28px - 22px);
  }
}

@media screen and (max-width: 920px) {
  .main {
    height: calc(100% - 160px);
  }

  .overlay {
    left: 0;
    width: 100%;
    bottom: 22px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    height: calc(100% - 112px);
  }
}

@media all and (max-width: 415px) {
  .main {
    height: calc(100% - 42px);
    margin-top: 20px;
  }

  .overlay {
    bottom: -40px;
  }

  .overlayMaxWidth {
    bottom: -40px;;
  }
}
