REACT_APP_API_HOST=https://api.kraev.nomoredomains.xyz/api
REACT_APP_HOST_PROD=https://api.kraev.nomoredomains.xyz
REACT_APP_CLIENT_ID=51798618
REACT_APP_HOST_DEV=http://localhost:3001
REACT_APP_HOST_LOCAL=http://localhost:3001
REACT_APP_FRONT_PROD=''
REACT_APP_FRONT_DEV=http://localhost:3000
REACT_APP_FRONT_LOCAL=http://localhost:3000
REACT_APP_MODE=development
REACT_APP_SUGGEST_SWITCHER = true
REACT_APP_SUGGEST_SWITCHER_KEY = 1e28c688-8020-4b10-9e58-3e506bf98c30
REACT_APP_YANDEX_MAP_KEY = 7b4bb7c4-4062-46a0-b7ab-f53610cc3365