.conflict {
  width: 100%;
  margin-top: 37px;
  display: flex;
  gap: 20px;
  height: 64vh;
  position: relative;
}

.boxMessage {
  min-width: 361px;
  max-width: 361px;
  height: 98%;
  box-sizing: border-box;
  overflow-y: auto;
  border: 1px solid var(--colors-interface-primary-additional);
}

.boxConflict {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 750px;
}

.boxBtn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.informer {
  width: 60%;
  margin: 30% auto;
}

@media (max-width: 550px) {
  .conflict {
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }

  .boxMessage {
    min-width: 100px;
    margin: 10px auto 0;
  }

  .boxBtn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
