.conflict {
  width: 100%;
  margin-top: 37px;
  display: flex;
  gap: 20px;
  height: 64vh;
  position: relative;
}

.box-message {
  min-width: 361px;
  height: 98%;
  box-sizing: border-box;
  overflow-y: auto;
  border: 1px solid var(--colors-interface-primary-additional);
}

.container-conflict {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 750px;
}

.box-btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.test {
  width: 359px;
  height: 140px;
  box-sizing: border-box;
}

@media (max-width: 550px) {
  .conflict {
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }

  .box-message {
    min-width: 100px;
    margin: 10px auto 0;
  }

  .box-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
