.conflict {
  width: 100%;
  margin-top: 37px;
  display: flex;
  gap: 20px;
  height: 64vh;
  position: relative;
}

.boxConflict {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 750px;
  width: 100%;
}

.boxBtn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

@media (max-width: 550px) {
  .conflict {
    width: 100%;
    margin: 0 auto;
    gap: 0;
  }

  .boxBtn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .boxConflict {
    width: 0;
  }
}
