.categoriesBackground {
  position: absolute;
  width: 100%;
  z-index: 10;
  left: -0;
  max-width: 245px;
}

.staticInfoWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.staticInfo {
  display: flex;
  gap: 10px;
}

.staticInfoItem {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  z-index: 11;
  color: var(--colors-interface-primary);
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0;
}
