.hub {
  width: 100%;
  margin-top: 37px;
  display: flex;
  gap: 20px;
  height: 64vh;
  position: relative;
  overflow-y: auto;
}

.boxBtn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

@media (max-width: 550px) {
  .hub {
    margin: 0 auto;
    gap: 0;
  }

  .boxMessage {
    min-width: 100px;
    margin: 10px auto 0;
  }

  .boxBtn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
