.hub {
  width: 100%;
  margin-top: 37px;
  display: flex;
  gap: 20px;
  height: 64vh;
  position: relative;
  overflow-y: auto;
}

.box-message {
  width: 361px;
  height: 100%;
}

.box-btn {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

@media (max-width: 550px) {
  .hub {
    margin: 0 auto;
    justify-content: center;
  }

  .box-message {
    margin: 10px auto 0;
  }

  .box-btn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
