.content {
  box-sizing: border-box;
  position: relative;
  margin-top: 33px;
  padding: 32px 30px 0 30px;
  min-height: 128px;
  width: 276px;
  border: 1px solid var(--colors-interface-blue-strong);
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: 300px;
}

.avatar {
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 62px;
  transform: translate(107px, -31px);
}

.icons_div {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.admin_content {
  height: 100%;
}

@media all and (max-width: 1025px) {
  .content {
    width: 175px;
    padding: 41px 10px 0 10px;
  }

  .admin_content {
    padding: 41px 30px 0 30px;
    min-height: 128px;
    width: 276px;
    height: 100%;
  }

  .avatar {
    position: absolute;
    left: 50%;
    top: 0;
    width: 62px;
    height: 62px;
    transform: translate(-50%, -31px);
  }
}
