.buttons {
  row-gap: 5px;
}

.buttons_volunteers > :first-child {
  margin-bottom: 4px;
}

.content {
  position: relative;
  margin-top: 40px;
  padding: 37px 40px 20px 40px;
  border: 1px solid var(--colors-interface-blue-strong);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 5px;
}

.avatar {
  position: absolute;
  left: 25%;
  top: 0;
  transform: translate(50%, -31px);
}

.icons_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media screen and (min-width: 920px) and (max-width: 1150px),
  screen and (max-width: 415px) {
  .content {
    width: 175px;
    height: 310px;
    padding: 41px 10px 0 10px;
    gap: 10px;
  }

  .avatar {
    left: 50%;
    transform: translate(-50%, -31px);
  }

  .buttons_volunteers > :first-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 415px) {
  .content {
    width: 45%;
  }
  .icons_div {
    margin-top: 0;
    margin-left: 0;
  }
}
