.buttons_div_tiles_volunteers {
  row-gap: 5px;
}

.buttons_div_tiles_recipient {
  row-gap: 5px;
}

.buttons_div_tiles_volunteers > :first-child {
  margin-bottom: 10px;
}

.content {
  box-sizing: border-box;
  position: relative;
  margin-top: 33px;
  padding: 32px 30px 0 30px;
  min-height: 128px;
  width: 276px;
  border: 1px solid var(--colors-interface-blue-strong);
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-height: 513px;
}

.avatar {
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 62px;
  transform: translate(107px, -31px);
}

.icons_div {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.admin_content {
  min-height: 256px;
  height: min-content;
}

@media screen and (min-width: 900px) and (max-width: 1100px),
  screen and (max-width: 415px) {
  .content {
    width: 175px;
    height: 310px;
    padding: 41px 10px 0 10px;
    gap: 10px;
  }

  .admin_content_action {
    height: 545px;
  }

  .avatar {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -31px);
  }
}

@media screen and (max-width: 414px) {
  .content {
    width: 100%;
  }
}
