.buttons_div_list_volunteers {
  margin-left: clamp(15px, 5vw, 55px);
  margin-top: 25px;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 15px;
  column-gap: 50px;
}

.buttons_div_list_volunteers > :first-child {
  grid-column: 1 / -1;
}

.buttons_div_list_recipients {
  width: 60%;
  margin-left: clamp(10px, 5vw, 60px);
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.buttons_div_list_recipients > :first-child {
  order: 3;
  margin-bottom: 0;
}

.content {
  margin-top: 0;
  padding-top: -10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0;
  height: auto;
  align-items: center
}

.icons_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0 0;
}

.admin_content {
  height: 100%;
}

.user_info_space {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  margin: 0 0 0 12px;
  min-width: 180px;
}

@media (max-width: 1300px) {
  .buttons_div_list_volunteers {
    margin-left: 0;
  }
}

@media all and (max-width: 1300px) {
  .content {
    height: 120px;
    gap: 5px;
    display: flex;
    align-items: center;
  }

  .buttons_div_list_volunteers {
    column-gap: 20px;
  }
}
