.buttons_div_list_volunteers {
  margin-left: clamp(10px, 5vw, 60px);
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 5px;
  column-gap: 50px;
}

.buttons_div_list_volunteers > :first-child {
  grid-column: 1 / -1;
}

.buttons_div_list_recipients {
  width: 60%;
  margin-left: clamp(10px, 5vw, 60px);
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.buttons_div_list_recipients > :first-child {
  order: 3;
  margin-bottom: 0;
}

.content {
  margin-top: 4px;
  width: 100%;
  box-sizing: border-box;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: auto;
}

.avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.icons_div {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.admin_content {
  height: 100%;
}

.user_info_space {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: -5px 0 2px 2px;
  min-width: 180px;
}

@media (max-width: 1300px) {
  .buttons_div_list_volunteers {
    margin-left: 0;
  }
}

@media all and (max-width: 1200px) {
  .content {
    height: 120px;
    gap: 5px;
    display: flex;
    align-items: center;
  }

  .buttons_div_list_volunteers {
    column-gap: 20px;
  }

  .avatar {
    width: 62px;
    height: 62px;
    margin: 0 10px 0 0;
  }
}
