.container {
  width: 100%;
  padding: 30px 30px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.balances_box {
  max-width: 826px;
  display: grid;
  grid-template-columns: repeat(2, 324px);
  justify-content: space-between;
  row-gap: 5px;
}

.save_btn {
  align-self: center;
  width: 196px;
}

@media all and (max-width: 1150px) {
  body {
    overflow-x: hidden;
    background: linear-gradient(0deg, var(--colors-interface-white), rgba(255, 255, 255, 0));
    background-size: 100% 100vh;
    background-attachment: fixed;
  }
  
  .container {
    width: 414px;
    padding: 0px 30px;
  }

  .balances_box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 324px;
  }

  .save_btn {
    align-self: flex-start;
  }
}
