.avatar {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 2px;
  background-color: #9798c9;
}

.large {
  width: 175px;
}

.big {
  width: 100px;
}

.bigResize {
  width: 100px;
}

.average {
  width: 62px;
}

.averageResizeSmall {
  width: 62px;
}

.averageResizeBig {
  width: 62px;
}

.medium {
  width: 52px;
}

.mediumResize {
  width: 52px;
}

.small {
  width: 43px;
}

.tiny {
  width: 30px;
}

@media (max-width: 550px) {
  .averageResizeSmall {
    width: 44px;
  }

  .bigResize {
    width: 60px;
  }

  .mediumResize {
    width: 44px;
  }

  .averageResizeBig {
    width: 51px;
  }
}
/*
120*120 - main avatar mob встретилось в макете 1 раз, но потом везде используется 175 на 175
*/
