.user_info {
  display: grid;
  row-gap: 11px;
  margin-left: 9px;
}

.grid_two_list {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.grid_two_tiles {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 28px;
}

.id_color {
  opacity: 0.5;
}

.buttons_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 25px;
}

.volunteer_info {
  display: flex;
}

.exclamation_point_div {
  display: flex;
  align-items: start;
  gap: 5px;
  flex-direction: column;
}

.admin_login_box {
  width: 236px;
  min-height: 39px;
  padding-block-start: 8px;
  margin-inline-start: -10px;
  cursor: not-allowed;
}

.admin_login_input {
  border: none;
  outline: none;
  background-color: transparent;
  pointer-events: none;
  margin-block-start: -5px;
  padding-inline-start: 10px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--colors-interface-primary);
}

.admin_password_box {
  margin-inline-start: -10px;
  position: relative;
}

.admin_edit_icon {
  position: absolute;
  top: 179px; /* по макету половина иконки минус вся длина до элемента*/
  left: 85%; /* по макету ширина - 15px */
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}

.admin_password_input {
  width: 236px;
  height: 30px;
  top: 197px;
  left: 20px;
  border: 0.5px;
  border: 0.5px solid var(--colors-interface-primary);
  color: linear-gradient(
      0deg,
      var(--colors-interface-primary),
      var(--colors-interface-primary)
    ),
    linear-gradient(
      0deg,
      var(--colors-interface-white),
      var(--colors-interface-white)
    );
  padding-inline-start: 10px;
  margin-block-start: -5px;
  content: '*****';
}

.admin_save_btn {
  padding-top: 13px;
  margin: auto;
}

.admin_dropdown_list_closed_box {
  position: relative;
  width: 129%;
  margin-top: 8.5px;
  margin-left: -30px;
  border-top: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #2e3192 49.28%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

.admin_arrow_down {
  position: absolute;
  top: 5px;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}

.admin_dropdown_list_opened_box {
  position: relative;
  width: 276px;
  margin-left: -30px;
  margin-top: 10px;
  border-top: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #2e3192 49.28%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

.admin_arrow_up {
  position: absolute;
  top: -20px;
  right: 8px;
  transform: rotate(180deg);
  cursor: pointer;
}

.admin_checkboxes {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 30px 33px 30px 33px;
}

.admin_checkbox {
  letter-spacing: 0em;
  font-family: Nunito Sans, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}

.admin_block_btn {
  margin: auto;
  display: flex;
  padding-left: 30px;
  padding-bottom: 20px;
}

.recipient_input {
  width: 196px;
  height: 37px;
  border: 0.5px solid #2e3192;
  font-size: 12px;
  color: #2e3192;
  padding-left: 10px;
}

.recipient_textarea {
  height: 90px;
  width: 186px;
  font-family: 'Golos', sans-serif;
  border: 0.5px solid #2e3192;
  color: #2e3192;
  resize: none;
  padding: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.id {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.name_text {
  font-size: 16px;
  line-height: 22.4px;
}

.modalContainer {
  position: absolute;
  width: 296px;
  height: 252px;
  background: var(--colors-interface-white);
  top: 5px;
  left: 0px;
  bottom: -5px;
  font-family: Golos;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}

.modalContent {
  width: 100%;
  height: 100%;
  padding-inline: 30px;
  padding-block: 13px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/*крестик закрытия*/
.close {
  width: 14px;
  height: 14px;
  background: url('../icons/close-icon-thin.tsx') no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Стили для текста "Смена пароля" */
.modalTitle {
  margin: 0;
  width: 236px;
  height: 45px;
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid rgb(224, 224, 224);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0px 5px 0px;
}

/* Стили для инпута с лейбелом */
.input_with_label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 236px;
  height: 52px;
}

/* Стили для поля */
.input_field {
  width: 236px;
  height: 30px;
  top: 95px;
  left: 30px;
  border: 0.5px 0 0 0;
  border: 0.5px solid var(--colors-interface-primary);
  box-shadow: inset 0 0 0 0.5px rgba(46, 49, 146, 1);
}

/* Стили для кнопки*/

.modalBtn {
  width: 95px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 10px;
  background-color: var(--colors-interface-primary);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 16px 0px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--colors-interface-white);
}

@media all and (max-width: 1150px) {
  .buttons_div {
    padding-bottom: 10px;
  }

  .volunteer_info {
    margin-bottom: 2px;
  }

  .name_text {
    font-size: 12px;
  }

  .admin_password_input {
    width: 100%;
  }

  .admin_checkbox {
    font-size: 10px;
  }

  .recipient_input {
    width: 140px;
    height: 30px;
    border: 0.5px solid #2e3192;
    font-size: 8px;
    /* padding: 10px; */
    color: #2e3192;
    line-height: 37px;
  }

  .admin_dropdown_list_opened_box {
    width: 129%;
  }

  .recipient_textarea {
    height: 60px;
    width: 140px;
    padding-left: 5px;
    padding-top: 5px;
  }

  .recipient_input::placeholder {
    font-size: 8px;
    padding: 10px;
  }

  .id {
    font-size: 10px;
  }

  .tel {
    font-size: 10px;
  }
}
