.user_info {
  display: grid;
  row-gap: 5px;
}

.grid_two_list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 10px;
}
.grid_two_tiles {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
}

.buttons_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.volunteer_info {
  display: flex;
  position: relative;
}

.exclamation_point_div {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  width: 130px;
  height: 30px;
}

.admin_login_container:has(input[name="login"]) {
  pointer-events: none;
  letter-spacing: 1px;
  color: var(--colors-interface-primary);
  border: none;
}

.admin_login_container input[name="login"] {
  padding: 6px 7px 6px 10px;
}

.admin_password_input {
  padding: 6px 7px 6px 10px !important;
}

.save_button {
  margin: 20px auto 0 auto;
}

.admin_dropdown_list_closed_box {
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.admin_dropdown_list_closed_box > svg {
  cursor: pointer;
}

.admin_dropdown_list_closed_box.expanded > svg {
  transform: rotate(180deg);
}

.admin_dropdown_list_closed_box::before {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid;
  border-image-source: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          var(--colors-interface-primary) 49.28%,
          rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}

.recipient_input input {
  width: 180px;
  font-size: var(--font-size-small);
  padding: 10px;
}

.recipient_textarea {
  height: 90px;
  width: 186px;
  font-family: var(--font-family-golos);
  border: 0.5px solid var(--colors-interface-primary);
  color: var(--colors-interface-primary);
  resize: none;
  padding: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.id {
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.name_text {
  width: 197px;
  max-width: 197px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalContainer {
  position: absolute;
  width: 296px;
  height: 252px;
  background: var(--colors-interface-white);
  top: 5px;
  left: 0px;
  bottom: -5px;
  font: var(--font-golos-14-16);
  text-align: left;
}

.modalContent {
  width: 100%;
  height: 100%;
  padding-inline: 30px;
  padding-block: 13px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

/*крестик закрытия*/
.close {
  width: 14px;
  height: 14px;
  background: url('../icons/close-icon-thin.tsx') no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  right: 30px;
}

/* Стили для текста "Смена пароля" */
.modalTitle {
  margin: 0;
  width: 236px;
  height: 45px;
  border-bottom: 1px solid rgb(224, 224, 224);
  line-height: 19.2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 17px 3px 0px;
}

/* Стили для инпута с лейбелом */
.input_with_label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 236px;
  height: 52px;
  margin-inline-start: -20px;
}

.input_with_label label {
  color: var(--colors-interface-primary);
  letter-spacing: 0.1px;
}

/* Стили для поля */
.input_field {
  width: 236px;
  height: 30px;
  top: 95px;
  left: 30px;
  border: 0.5px 0 0 0;
  border: 0.5px solid var(--colors-interface-primary);
  box-shadow: inset 0 0 0 0.5px rgba(46, 49, 146, 1);
}

/* Стили для кнопки*/

.modalBtn {
  width: 95px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 10px;
  margin-inline-start: -20px;
  background-color: var(--colors-interface-primary);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 16px 0px 16px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-small);
  letter-spacing: 0%;
  color: var(--colors-interface-white);
}

@media all and (max-width: 1150px) {
  .buttons_div {
    padding-bottom: 10px;
  }

  .volunteer_info {
    margin-bottom: 2px;
  }

  .name_text {
    width: 140px;
  }

  .admin_password_input {
    width: 100%;
  }

  .recipient_input {
    width: 140px;
    height: 30px;
    border: 0.5px solid var(--colors-interface-primary);
    font-size: 8px;
    color: var(--colors-interface-primary);
    line-height: 37px;
  }

  .admin_dropdown_list_opened_box {
    width: 129%;
  }

  .recipient_textarea {
    height: 60px;
    width: 140px;
    padding-left: 5px;
    padding-top: 5px;
  }

  .recipient_input::placeholder {
    font-size: 8px;
    padding: 10px;
  }
}
