.info-id-wrapper {
  opacity: 0.5;
  padding-bottom: 10px;
}

.info-name-wrapper {
  padding-bottom: 5px;
}

.info-field-title {
  display: inline-block;
  min-width: 53px;
  padding-right: 8px;
  box-sizing: border-box;
}

.info-phone-wrapper {
  padding-bottom: 10px;
}

.info-address-wrapper {
  padding-bottom: 10px;
}
