.info-top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.info-address-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 29px;
}

.info-field-title {
  display: inline-block;
  min-width: 53px;
  padding-right: 8px;
  box-sizing: border-box;
}

.info-address-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
