.background {
  margin-top: -30px;
  padding-top: 30px;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.background::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  margin-left: calc(-50vw + 50%);
  background-image: url(../../app/assets/images/background-blog-page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.blog-page {
  width: 78%;
  margin: 0 auto 20px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.blog-page::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.posts {
  margin: 20px auto 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup {
  width: 370px;
  height: 127px;
}

.textWarning {
  margin: 0 0 20px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-small);
  text-align: left;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 920px) {
  .blog-page {
    width: 100%;
    margin: 0;
  }
}
