.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: -2px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 152px;
  width: 100%;
  pointer-events: none;
}
