.content {
  width: 276px;
  max-height: 172px;
  box-sizing: border-box;
  position: relative;
  margin-top: 31px;
  padding: 32px 30px 10px 30px;
  border: 1px solid var(--colors-interface-blue-strong);
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.avatar {
  position: absolute;
  left: 0;
  top: 0;
  width: 62px;
  height: 62px;
  transform: translate(107px, -31px);
}

.icons_div {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

@media all and (max-width: 1150px) {
  .content {
    width: 175px;
    padding: 41px 10px 10px;
  }

  .avatar {
    position: absolute;
    left: 50%;
    top: 0;
    width: 62px;
    height: 62px;
    transform: translate(-50%, -31px);
  }
}
