.buttonWrapper {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}


.modal {
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 125px);
}

.tooltipWrapper {
    z-index: 60;
}
