.buttonWrapper {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  gap: 20px;
}
.mainPopUpWrapperMobile {
  height: 554px;
  width: 300px;
}

.modal {
  position: absolute;
  top: calc(50% - 160px);
  left: calc(50% - 45px);
}

.modalMobile {
  position: absolute;
  top: calc(50% - 230px);
  left: calc(50% - 185px);
}

.button {
  width: 82px;
}

.tooltipContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px;
}

.text {
  font-family: 'Golos', sans-serif;
  font-size: 16px;
  color: rgba(44, 45, 46, 1);
  width: 265px;
  height: 44px;
  line-height: 22px;
  margin: 0;
}

.modalMobile {
    position: absolute;
    top: calc(50% - 230px);
    left: calc(50% - 265px);
}

.button {
    width: 82px;
}
