.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.wrapper--incoming {
  justify-content: flex-start;
}

.wrapper--outgoing {
  justify-content: flex-end;
}

.wrapper--send {
  width: 223px;
  padding: 5px 20px;
  background: var(--colors-interface-primary-additional);
  color: var(--colors-interface-white);
  cursor: pointer;
  box-sizing: border-box;
}

.wrapper--send:hover {
  opacity: 0.8;
}

.achievement-title {
  margin: 0 auto;
  text-align: center;
}

.gradient-divider {
  width: 60%;
  margin: 5px auto 10px;
}

.avatar {
  max-width: 30px;
  max-height: 30px;
}

.messageBlock {
  padding-top: 15px;
}

.message {
  max-width: 224px;
  padding: 5px 20px;
  position: relative;
}

.message::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.message--incoming.message::before {
  clip-path: polygon(5% 15%, 0% 0%, 100% 0%, 100% 100%, 5% 100%);
  background-color: var(--colors-interface-primary);
}

.message--outgoing.message::before {
  clip-path: polygon(0% 0%, 100% 0%, 95% 15%, 95% 100%, 0% 100%);
  background-color: var(--colors-interface-blue-navy);
}

.text {
  position: relative;
  color: var(--colors-interface-white);
  z-index: 10;
}

@media (max-width: 1300px) {
  .wrapper--send {
    width: 160px;
  }
}

@media (max-width: 550px) {
  .wrapper--send {
    width: 120px;
    padding: 5px;
  }
}
