.container {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--colors-interface-primary);
  background-color: rgba(255, 255, 255, 1);
}

.container.disabled {
  background-color: rgba(255, 255, 255, 1);
}

.input {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  padding: 12px;
  transition: var(--transition-hover);
  color: var(--colors-interface-primary);
  box-sizing: content-box;
  font-size: var(--font-size-s);
  line-height: 19px;
}

.input_error {
  composes: input;
  border-color: var(--colors-interface-orange) !important;
  color: var(--colors-interface-red);
}

.input::placeholder {
  color: var(--colors-interface-additional);
}

.input:hover {
  /*border-color: var(--colors-interface-blue-navy);*/
}

.input:focus-visible {
  outline: none;
  /*border-color: var(--colors-interface-blue-navy);*/
}

.label {
  display: inline-block;
  font-size: var(--font-size-small);
  line-height: var(--line-height-middle);
  font-weight: var(--font-weight-regular);
  color: var(--colors-interface-black);
  margin-bottom: 6px;
  letter-spacing: 1px;
}
.error {
  margin-top: 8px;
}

.for_storybook {
  width: 350px;
}

.icon {
  cursor: pointer;
  transition: var(--transition-hover);
}

.icon_error {
  display: flex;
  position: absolute;
  right: 12px;
  top: 12%;
  cursor: pointer;
  transition: var(--transition-hover);
}

@media screen and (max-width: 550px) {
  .label {
    font-size: var(--font-size-small);
    line-height: var(--line-height-xs);
  }

  .input {
    font-size: var(--font-size-small);
    line-height: var(--line-height-xs);
  }
}

@media (max-width: 360px) {
  .icon {
    right: 0;
  }
}

.icon:hover,
.icon:active {
  opacity: 0.6;
}
