.form {
  min-width: 360px;
  display: grid;
  gap: 4px;
  padding-left: 45px;
  justify-items: flex-start;
}

.field {
  width: 359px;
}

.field label {
  color: var(--colors-interface-primary);
  font: var(--font-golos-14-16);
}
