.form {
  min-width: 360px;
  display: grid;
  gap: 25px;
  padding-left: 45px;
  justify-items: flex-start;
}

.field {
  width: 359px;
}

.field_minus_margin {
  width: 359px;
  margin-block-start: -10px;
}
