.container {
  background-color: var(--colors-interface-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);
  padding: 30px 50px 20px 30px;
  box-sizing: border-box;
  position: relative;

  max-width: 370px;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;

  border: none;
  padding: 0;
  background: none;
}