.styles_informer__NWEc5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colors-interface-primary-additional);
}

.styles_informer--withText__U3z32 {
  gap: 10px;
}

.styles_informer-imgBlock__W0zp6 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 102px;
  width: 100%;
  height: 102px;
  border-radius: 50%;
  background-color: var(--colors-interface-primary-additional);
}

.styles_informerText__ZtHyO {
  text-align: center;
}

.styles_informerImg__jWYFz {
  width: 56px;
  height: 50px;
}

.styles_round-button__xAEqn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--colors-interface-primary);
  border: 1px solid var(--colors-interface-additional);
  background-repeat: no-repeat;
  background-position: center;
  transition: var(--transition-hover);
  background-size: 18px;
  background-position: center;
}

.styles_round-buttonImg__lh1ls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.styles_round-button__xAEqn:hover {
  background-color: var(--colors-interface-blue-navy);
}

.styles_round-button--phone__PSx9q,
.styles_round-button--message__U8pt0,
.styles_round-button--small__-zVaI {
  width: 32px;
  height: 32px;
}

.styles_round-button--phone__PSx9q:active,
.styles_round-button--message__U8pt0:active {
  background-color: var(--colors-interface-primary);
}

.styles_round-button--medium__sdYEf,
.styles_round-button--location__NW4nY {
  width: 54px;
  height: 54px;
}

.styles_round-button--location__NW4nY {
  border: none;
}

.styles_round-button--large__tNJpb,
.styles_round-button--add__hYVE9 {
  width: 82px;
  height: 82px;
}

.styles_round-button--location__NW4nY:active {
  background-color: var(--colors-interface-blue-navy);
}

.styles_round-button--add__hYVE9 {
  border: 1px solid var(--colors-interface-background);
}

.styles_round-button--add__hYVE9:hover {
  background-color: var(--colors-interface-blue-strong);
}

.styles_round-button--add__hYVE9:active {
  background-color: var(--colors-interface-blue-strong);
}

.styles_round-button__xAEqn:disabled {
  background-color: var(--colors-interface-additional);
  cursor: default;
}

.styles_avatar__7R5dq {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.styles_categories-background__MeVH0 {
  display: flex;
  align-items: center;
  height: 25px;
  box-sizing: border-box;
  color: var(--colors-interface-white);
  position: relative;
}

.styles_categories-background__MeVH0::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 30%, 93% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 30%, 93% 100%, 0% 100%);
}

.styles_categories-background--primary__b-ZVZ.styles_categories-background__MeVH0::before {
  background-color: var(--colors-interface-primary-additional);
}

.styles_categories-background--secondary__jEfX8.styles_categories-background__MeVH0::before {
  background-color: var(--colors-interface-additional);
}

.styles_categories-background--success__zE0Me.styles_categories-background__MeVH0::before {
  background-color: var(--colors-interface-yellow);
}

.styles_categories-background--warning__kvHal.styles_categories-background__MeVH0::before {
  background-color: var(--colors-interface-orange-soft);
}

.styles_categories-background--medium__eioqA {
  padding-left: 15px;
  max-width: 169px;
}
.styles_categories-background--large__PehhZ {
  padding-left: 30px;
  max-width: 215px;
}

.styles_categories-background-content__Rccdl {
  z-index: 10;
}

.styles_square-button__7fbsO {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

.styles_square-button__7fbsO::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 3% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 87%, 3% 100%);
  transition: var(--transition-hover);
  background-repeat: no-repeat;
  background-position: center;
}

.styles_square-buttonImg__W3YXf {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 24px;
  height: 20px;
}

.styles_square-button--close__pkKu2.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-primary-additional);
}

.styles_square-button--close__pkKu2:hover.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-primary);
}

.styles_square-button--close__pkKu2:active.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-primary-additional);
}

.styles_square-button--edit__bEkgq.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-blue-strong);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
}

.styles_square-button--edit__bEkgq:hover.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-cyan);
}

.styles_square-button--edit__bEkgq:active.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-blue-strong);
}

.styles_square-button--confirm__Kx27c.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-cyan);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.styles_square-button--confirm__Kx27c:hover.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-green);
}

.styles_square-button--confirm__Kx27c:active.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-blue-strong);
}
.styles_square-button__7fbsO:disabled {
  cursor: default;
}

.styles_square-button__7fbsO:disabled.styles_square-button__7fbsO::before {
  background-color: var(--colors-interface-additional);
}

/* DESKTOP */
.styles_container_main__7NmGe {
  display: flex;
  /* width: 889px; */
  width: 100%;
  border-bottom: 1px solid;
  border-image-source: var(--colors-interface-line);
  border-image-slice: 1;
  padding-bottom: 20px;
  justify-content: space-between;
}

.styles_container__DN4qw {
  display: flex;
}

.styles_section_left__9uSUY {
  display: flex;
  flex-direction: column;
  min-width: 175px;
  max-width: 175px;
}

.styles_category__iEws1 {
  margin-bottom: 14px;
}

.styles_date__ewhjR {
  display: flex;
  align-items: center;
  color: var(--colors-interface-primary);
  gap: 3px;
  margin-bottom: 8px;
}

.styles_icon__cqeOp {
  min-width: 24px;
  min-height: 24px;
}

.styles_title__g7EuU {
  color: var(--colors-interface-primary-additional);
  margin: 38px 0 9px 0;
}

.styles_description__ziKX2 {
  margin: 0;
  max-width: 333px;
  min-width: 200px;
}

.styles_description_hidden__Q0oCT {
  margin: 0;
  max-width: 333px;
  min-width: 200px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.styles_button__TBhrr {
  background: none;
  display: block;
  border: none;
  padding: 0;
  color: var(--colors-interface-primary);
  bottom: 0;
  right: 94px;
}

.styles_button_hidden__8aNJk {
  right: -18px;
}

.styles_button__TBhrr:hover {
  cursor: pointer;
  color: var(--colors-interface-primary-additional);
  transition: var(--transition-hover);
}

.styles_icon_balls_container__cTqMK {
  display: flex;
  margin-top: 25px;
  align-items: center;
  gap: 3px;
}

.styles_count__7HSlc {
  color: var(--colors-interface-primary);
}

.styles_section_right__Mlvw9 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.styles_avatar__41m4D {
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.styles_recipient_name__kti7x {
  text-align: center;
}

.styles_phone__2a39B {
  color: var(--colors-interface-primary);
  margin: 3px 0 5px 0px;
  text-align: center;
}

.styles_buttons_call__43bix {
  display: flex;
  gap: 8px;
}

.styles_icon_button__rZ\+a4 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--colors-interface-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.styles_icon_image__xcJaO {
  width: 18px;
  height: 18px;
}

.styles_buttons_action__TAqpM {
  display: grid;
  grid-template-columns: repeat(2, 32px);
  grid-gap: 18px;
  gap: 18px;
  max-width: 82px;
  justify-content: end;
  align-content: start;
}

.styles_button_edit__1\+4aR {
  grid-column: -2;
}

/* MOBILE */
.styles_mobile_container_main__5\+32f {
  border: 1px solid var(--colors-interface-blue-very-soft);
  width: 100%;
  /* width: 364px; */
  height: 100%;
}

.styles_mobile_header__hpxg1 {
  display: flex;
  justify-content: space-between;
}

.styles_mobile_category__sJIwe {
  min-width: 170px;
}

.styles_mobile_recipient_bio__6JUWQ {
  display: flex;
  align-items: center;
  margin: 12px 0 16px 10px;
  gap: 4px;
}

.styles_mobile_avatar__Dxf8Z {
  width: 60px;
  height: 60px;
}

.styles_mobile_recipient_name__3-ZYL {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

.styles_mobile_buttons_call__kqua1 {
  display: flex;
  gap: 10px;
  margin-left: 76px;
}

.styles_mobile_section_description__vH1i- {
  margin-left: 10px;
  margin-right: 58px;
}

.styles_mobile_title__J4xjQ {
  color: var(--colors-interface-primary-additional);
  margin: 14px 0 0 0;
}

.styles_mobile_description__j-LkR {
  margin: 0;
  max-width: 600px;
  min-width: 200px;
  line-height: 29px;
}

.styles_mobile_description_hidden__emJb2 {
  margin: 0;
  line-height: 29px;
  max-width: 600px;
  min-width: 200px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.styles_icon_finish_container__xslzK {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
  margin-top: 4px;
  gap: 4px;
  border-bottom: 1px solid;
  border-image-source: var(--colors-interface-line);
  border-image-slice: 1;
}

.styles_mobile_data_time__B8GUt {
  display: flex;
  margin: 14px 0 14px 10px;
  gap: 34px;
}

.styles_mobile_date__hZW36 {
  margin: 0;
}

.styles_mobile_address__R6K2\+ {
  margin-left: 10px;
  margin-bottom: 14px;
}

.styles_content__pUGPK {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  row-gap: 20px;
  width: 100%;
}

.styles_content_empty__2xpIa {
  display: flex;
  flex-direction: column;
  padding-top: 126px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.styles_content_empty_mobile__JJOTA {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.styles_add_task_icon__HHHrv {
  justify-self: center;
}

.styles_add_task__U2Zlm {
  display: grid;
  grid-template-columns: 155px 1fr;
  grid-column-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  width: 100%;
  height: 128px;
  align-content: center;
  border-bottom: 1px solid;
  border-image-source: var(--colors-interface-line);
  border-image-slice: 1;
}

.styles_add_task_mobile__SGqJ7 {
  display: flex;
  flex-direction: column;
  height: 106px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  border-image-source: var(--colors-interface-line);
  border-image-slice: 1;
}

.styles_title_add_list__kV6dm {
  color: var(--colors-interface-primary-additional);
}

.styles_title_add_empty__1g78p {
  color: var(--colors-interface-primary);
}


/*# sourceMappingURL=entities-task-ui-task-list-task-list-stories.86a523c4.chunk.css.map*/