.timePickerPopup {
  width: 300px;
  height: 330px;
  background-color: var(--colors-interface-white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: auto;
}

.timePickerPopup__container {
  display: flex;
  align-items: center;
  height: 160px;
  gap: 50px;
  margin: 20px auto;
}

.timePickerPopup__wheel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  align-items: center;
  height: 160px;
  padding: 0;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.timePickerPopup__wheel::-webkit-scrollbar {
  display: none;
}

.timePickerPopup__item {
  display: block;
  font-family: var(--font-family-golos);
  font-weight: var(--font-weight-regular);
  font-size: 40px;
  line-height: 48px;
  color: var(--colors-interface-additional);
  scroll-snap-align: center;
}

.timePickerPopup__item:hover {
  cursor: pointer;
}

.timePickerSecond {
  width: 96px;
  height: 34px;
  border: 1px solid var(--colors-interface-additional);
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 0 10px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.timePickerSecond input {
  width: 50px;
  height: 18px;
  border: none;
  padding: 0;
}

.timePickerPopup__header {
  font-family: var(--font-family-golos);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-medium);
  margin: 30px auto 0 auto;
}

.timePickerPopup__line {
  height: 1px;
  width: 240px;
  border: none;
  background: linear-gradient(to right, var(--colors-interface-white), var(--colors-interface-primary), var(--colors-interface-white)) 50% 0%;
}

.timePicker input {
  font-family: var(--font-family-golos);
  font-size: var(--font-size-middle);
  line-height: var(--line-height-xs);
  border: none;
  padding: 0;
}

.timePicker span {
  font-family: var(--font-family-golos);
  font-size: var(--font-size-middle);
  line-height: var(--line-height-xs);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
