.container {
  height: 80px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.04), 0 4px 32px rgba(0, 0, 0, 0.16);
  background-color: var(--colors-interface-white);
  padding: 20px 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 35px;
  margin-bottom: 16px;
}

.header-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 39px;
}
