.smartHeader__container {
  min-width: 98%;
  border: 2px solid var(--colors-interface-primary);
  display: flex;
  justify-content: space-between;
  padding: 16px 30px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 20px;
}

.smartHeader__block {
  display: flex;
  align-items: center;
}

.settingText {
  color: var(--colors-interface-primary);
  font-size: 24px;
  line-height: 29px;
}

.filterText {
  color: var(--colors-interface-primary);
  margin-right: 10px;
}

.settingIcon {
  display: flex;
  margin-right: 15px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.filterButton {
  display: flex;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: var(--transition-hover);
  outline-offset: 5px;
}

.filterButton:focus {
  outline: 1px solid var(--colors-interface-primary);
}

.filterButton:hover {
  opacity: 0.6;
}

@media all and (max-width: 1025px) {
  .smartHeader__container {
    border: 1px solid var(--colors-interface-primary);
    padding: 15px;
  }

  .settingIcon {
    margin-right: 10px;
  }

  .settingIcon {
    max-width: 35px;
    max-height: 35px;
  }

  .filterButton svg {
    max-width: 30px;
    max-height: 30px;
  }
}

@media screen and (max-width: 415px) {
  .settingText {
    max-width: 141px;
    font-size: 16px;
    line-height: 19px;
  }

  .smartHeader__container {
    padding: 8px 15px;
  }
}
