.smartHeader__container {
  min-height: 89px;
  margin-bottom: 20px;
  padding: 0 30px 0 28px;
  border: 2px solid var(--colors-interface-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smartHeader__block {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.settingText {
  color: var(--colors-interface-primary);
  font-size: 24px;
  line-height: 29px;
}

.settingIcon {
  display: flex;
  margin-right: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 920px) {
  .smartHeader__container {
    min-height: 55px;
    padding: 0 15px 0 13px;
    border: 1px solid var(--colors-interface-primary);
  }

  .settingIcon {
    margin-right: 10px;
    max-width: 35px;
    max-height: 35px;
  }

  .settingText {
    font-size: 16px;
    line-height: 19px;
  }
}
