.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 207px;
  background-color: #fff;
  padding: 0px 0px 0px 0px;
  cursor: auto;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  margin: -10px 0px 10px 32px;
}

.avatarBlock {
  display: flex;
  align-items: flex-end;
  margin: 0px 0px 0px 1.5px;
}

.headerElements {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 12px 0 11px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
  margin: 38px 0 0px 23px;
  min-width: 235px;
}

.infoBlock__item {
  display: flex;
  align-items: center;
  margin-bottom: 3.5px;
}

.avatarBlock__button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition-hover);
  border-bottom: 1px solid var(--colors-interface-primary);
  margin-left: 20px;
}

.avatarBlock__hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.avatarBlock__button:hover {
  opacity: 0.6;
}

.avatar {
  max-width: 51px;
  max-height: 51px;
}

.infoBlock__text {
  color: var(--colors-interface-primary);
  margin-right: 20px;
  width: 32px;
}

.input {
  max-width: 190px;
}

.input input {
  border: 0;
  border-bottom: 0.2px solid var(--colors-interface-primary);
  max-height: 25px;
  font-size: 12px;
  line-height: 16.8px;
  margin-left: 28px;
  width: 138px;
  padding: 0 0 0 1px;
}

.input.input--error input {
  border-bottom: 1.5px solid var(--colors-interface-red);
}

.errorText {
  font-size: 10px;
  line-height: 16.8px;
  text-transform: lowercase;
  color: var(--colors-interface-red);
}

.editViewerPopup {
  position: relative;
}

.phoneErrorContainer {
  position: absolute;
  bottom: 31px;
  left: 77px;
}

.button {
  border: none;
  margin-top: 6px;
  margin-left: 46px;
  padding: 7px 21px 4px;
}

.closeIcon:hover {
  cursor: pointer;
}
