.container {
  cursor: auto;
  padding: 20px 39px 20px 33px;
}

.headerElements {
  display: flex;
  justify-content: flex-start;
}

.avatarBlock {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.avatar {
  max-width: 51px;
  max-height: 51px;
}

.avatarBlock__button {
  border: none;
  padding: 0 0 5px 0;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition-hover);
  border-bottom: 1px solid var(--colors-interface-primary);
}

.avatarBlock__hidden {
  opacity: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

.avatarBlock__button:hover {
  opacity: 0.6;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  padding: 43px 0 20px 10px;
  margin: 0;
}

.infoBlock__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 19px;
}

.infoBlock__text {
  color: var(--colors-interface-primary);
}

.input input {
  border: 0;
  color: var(--colors-interface-primary);
  border: none;
  border-bottom: 0.2px solid var(--colors-interface-primary);
  max-height: 20px;
  font-size: 12px;
  line-height: 16.8px;
  width: 138px;
  padding: 0 0 5px 0;
}

.input_type_error {
  border-bottom-color: var(--colors-interface-red);
}

.input span {
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  color: var(--colors-interface-red);
  position: absolute;
  top: 20px;
  left: 0;
}

.button {
  border: none;
  padding: 8px 21px;
  margin: 0 auto;
}
