.editViewerInfo__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 287px;
}

.containerInfo {
  display: flex;
  flex-direction: column;
}

.avatarBlock {
  display: flex;
  align-items: flex-end;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 37px 0 20px 0;
}

.infoBlock__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.avatarBlock__button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition-hover);
  border-bottom: 1px solid var(--colors-interface-primary);
  margin-left: 20px;
}

.avatarBlock__button:hover {
  opacity: 0.6;
}

.avatar {
  max-width: 51px;
  max-height: 51px;
}

.infoBlock__text {
  color: var(--colors-interface-primary);
  margin-right: 20px;
  width: 42px;
}
.input {
  max-width: 138px;
}

.input input {
  border: 0;
  border-bottom: 0.2px solid var(--colors-interface-primary);
  max-width: 138px;
  max-height: 25px;
  font-size: 12px;
  line-height: 14px;
  padding: 0;
}

.button {
  margin-bottom: 5px;
  border: none;
}
