.wrapper {
  width: 100%;
  overflow-y: auto;
  height: 100%;
}

.boxCards {
  display: flex;
  justify-content: space-between;
}

.boxInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 52px auto 0;
}

.text {
  font-size: var(--font-size-s);
  line-height: 16px;
  font-weight: var(--font-weight-bold);
  color: var(--colors-interface-primary);
}

@media (max-width: 550px) {
  .boxInfo {
    margin: 30px auto 28px;
  }
}
