@import '../../../app/assets/styles/common.css';

.link {
  text-decoration: none;
  list-style: none;
  color: var(--colors-interface-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 134px;
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
  height: 52.5px;
  padding-bottom: 5px;
  margin: 0;
}
.link_active {
  border-bottom: 4px solid var(--colors-interface-primary-additional);
  box-sizing: border-box;
}
.links {
  display: flex;
  margin: 0;
  padding: 0;
}
.link__title {
  margin: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 23.5px;
}
.link:hover{
  border-bottom: 4px solid var(--colors-interface-primary-additional);
}
.link__icon {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}
.nav {
  min-width: 200px;
}
@media (max-width: 1200px) {
  .link {
    height: 34px;
    padding-bottom: 5px;
  }

  .link:nth-child(3){
    height: 50px;
  }

  .link__icon{
    margin-top: 0;
    margin-bottom: 0;
  }

  .links{
    gap: 34px !important;
  }
}
