.mainWrapper {
  position: relative;
  top: 12px;
}

.taskContainer {
  display: grid;
  grid-template-columns: 76px 450px;
  margin-top: 20px;
  position: relative;
  left: -5px;
}

.task {
  font-size: var(--font-size-small);
  line-height: 14px;
}

.form {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
}

.textarea textarea {
  min-height: 151px;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
}

.prevButton {
  margin-right: 20px;
}

.closeWrapper {
  display: flex;
  justify-content: flex-end;
}

.closeIcon:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 735px) {
  .mainWrapper {
    width: 260px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .taskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    bottom: 8px;
    left: -15px;
  }

  .task {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-large);
    position: relative;
    bottom: -1px;
    text-align: center;
  }

  .form {
    gap: 20px;
  }

  .headerWrapper {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      var(--colors-interface-primary) 49.28%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 240px;
    height: 1px;
    margin-top: 4px;
    margin-bottom: 17px;
    position: relative;
    bottom: 1px;
  }

  .select {
    position: relative;
    left: 28px;
    bottom: -1px;
  }

  .textarea textarea {
    min-height: 151px;
  }

  .buttonsWrapper {
    margin-top: 214px;
    justify-content: center;
    margin-bottom: 8px;
    position: relative;
  }
}
