.taskContainer {
  display: grid;
  grid-template-columns: 76px 450px;
  margin-top: 20px;
  position: relative;
  left: -5px;
}

.task {
  font-size: var(--font-size-small);
  line-height: 14px;
}

.select {
  grid-column-start: 2;
}

.textarea {
  grid-column-start: 2;
  margin-top: 20px;
  min-height: 195px;
  position: relative;
  bottom: 20px;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  position: relative;
  bottom: 6px;
  right: -15px;
}

.mainWrapper {
  position: relative;
  top: 12px;
}

.prevButton {
  margin-right: 20px;
}

.messageAlert {
  color: var(--colors-interface-red);
  margin: 0 46px 0 0;
  font: var(--font-golos-14-16);
  grid-column-start: 2;
  min-height: 20px;
  opacity: 0;
}

.messageAlertActive {
  opacity: 1;
}

.alertWrapper {
  display: flex;
  flex-direction: column;
  max-height: 15px;
}

.closeWrapper {
  display: flex;
  justify-content: flex-end;
}

.closeIcon:hover {
  opacity: 0.5;
  cursor: pointer;
}
@media (max-width: 735px) {
  .taskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    bottom: 8px;
    left: -40px;
  }
  .mainWrapper {
    width: 260px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .headerWrapper {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      var(--colors-interface-primary) 49.28%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 240px;
    height: 1px;
    margin-top: 4px;
    margin-bottom: 17px;
    position: relative;
    bottom: 1px;
    left: 12px;
  }
  .select {
    position: relative;
    left: 28px;
    bottom: -1px;
  }
  .task {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-large);
    position: relative;
    bottom: -1px;
    left: 25px;
  }
  .textarea {
    min-height: 0;
    height: 150px;
    display: flex;
    flex-direction: column;
    width: 270px;
    position: relative;
    bottom: -1px;
    left: 28px;
  }
  .buttonsWrapper {
    margin-top: 180px;
    justify-content: center;
    margin-bottom: 8px;
    position: relative;
    bottom: 10px;
    left: -7px;
  }

  .messageAlert {
    position: relative;
    bottom: -10px;
    left: 10px;
  }
}
