@import '../../app/assets/styles/common.css';

.header {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.header_title {
  padding: 0;
  margin: 0;
  color: aliceblue;
}

.header__button {
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding-bottom: 12px;
  margin-left: 20px;
  margin-bottom: 4px;
  max-width: 68px;
}

.header__button__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.header__button__text {
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  color: var(--colors-interface-primary);
}

.header__button:focus-visible {
  outline: none;
}

.header__menu {
  left: -176px;
  width: 252px;
  height: min-content;
  position: absolute;
  visibility: hidden;
  display: none;
}

.header__menu_active {
  visibility: visible;
  z-index: 1;
  display: block;
  background-color: var(--colors-interface-white);
}

.header__logo {
  margin-bottom: 5px;
}

.header__menu__container {
  position: relative;
}

.header__sidebar__container {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.header__title__container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

.menu__title {
  color: var(--colors-interface-primary);
  font-family: 'Golos';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 0;
  width: 132px;
  text-align: right;
}

.menu__title__icon {
  width: 32px;
  height: 32px;
  background-color: var(--colors-interface-primary);
  margin-left: 5px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
}

.header__avatar {
  max-width: 42px;
  max-height: 42px;
  padding-bottom: 8px;
}

.header__container {
  max-width: 1256px;
  min-width: min-content;
  margin: 0 auto;
  height: 44px;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1050px) {
  .header__container {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media (max-width: 900px) {
  .header__container {
    height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }

  .header__sidebar__container {
    margin-top: 10px;
    padding-left: 25px;
  }

  .header__button {
    padding-bottom: 8px;
  }

  .header__menu {
    left: -200px;
  }

  .header__title__container {
    border: none;
  }
}
