.header {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.header_title {
  padding: 0;
  margin: 0;
  color: aliceblue;
}
.header__button {
  background-repeat: no-repeat;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding-bottom: 23px;
}

.header__button:focus-visible {
  outline: none;
}

.header__menu {
  left: -176px;
  width: 252px;
  height: min-content;
  position: absolute;
  visibility: hidden;
  display: none;
}
.header__menu_active {
  visibility: visible;
  z-index: 1;
  display: block;
  background-color: var( --colors-interface-white);
}
.header__menu__container {
  position: relative;
}

.header__avatar {
  max-width: 42px;
  max-height: 42px;
  padding-bottom: 8px;
}
.header__container {
  max-width: 1256px;
  min-width: min-content;
  margin: 0 auto;
  height: 44px;
  padding-top: 44px;
  padding-left: 92px;
  padding-right: 92px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 1050px) {
  .header__container {
    padding-left: 72px;
    padding-right: 72px;
  }
}
@media (max-width: 900px) {
  .header__container {
    height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }
  .header__button {
    padding-bottom: 8px;
  }
  .header__menu {
    left: -200px;
  }
  
  .header__title__container {
    border: none;
  }
  
}
