.chatWrapper {
  width: 586px;
  height: 380px;
  position: absolute;
  bottom: 70px;
  right: 0;
  display: flex;
  z-index: i;
  flex-direction: column;
  gap: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s ease;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--colors-interface-white);
  box-shadow: var(--common-element-shadow);
}

.chatWrapper_action {
  visibility: visible;
  opacity: 1;
}

.mainBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.avatar {
  max-width: clamp(44px, 2vw, 52px);
  max-height: clamp(44px, 2vw, 52px);
}

.name {
  margin: 0;
  font-size: clamp(16px, 2vw, 24px);
  line-height: 40px;
}

.container-chat {
  width: 90%;
  margin-left: 3vw;
}

.chat-container {
  width: 100%;
}

.btn {
  margin-top: 15px;
  max-width: 165px;
}

.inputWrapper {
  display: flex;
  justify-content: flex-end;
}

.arrow {
  margin: auto 0;
  cursor: pointer;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

.messagesBlock {
  background-color: var(--colors-interface-white);
  border: 1px solid var(--colors-interface-ford-white);
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 1200px) {
  .chatWrapper {
    width: 50vw;
  }

  .container-chat {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .chatWrapper {
    width: 55vw;
  }
}

@media (max-width: 600px) {
  .chatWrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 95vh;
    box-shadow: none;
  }

  .messagesBlock {
    height: 60vh;
  }
}
