.input_inner_mobile :nth-child(2n) {
  right: 0;
}

.input_container_mobile> :nth-child(2n) {
  margin-left: -8px;
}

.chatWrapper {
  width: 586px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 30px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s ease;
  box-sizing: border-box;
  padding: 20px 30px 15px;
  background-color: var(--colors-interface-white);
  box-shadow: var(--common-element-shadow);
}

.chatWrapper_action {
  visibility: visible;
  opacity: 1;
}

.mainBlock {
  display: flex;
  gap: 20px;
  width: 100%;
}

.mainBlock .avatar {
  width: 52px;
  height: 52px;
}

.chatmateInfo {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.chatmatePhone {
  margin-inline-start: 42px;
}

.border {
  flex-shrink: 0;
}

.container-chat {
  width: 88%;
  min-height: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex-grow: 1;
}

.chat-container {
  width: 100%;
}

.btn {
  margin-top: 15px;
  max-width: 165px;
}

.inputWrapper {
  display: flex;
  justify-content: flex-end;
}

.arrow {
  margin: 0;
  cursor: pointer;
}

.chatWrapper .btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

.messagesBlock {
  height: 180px;
  background-color: var(--colors-interface-white);
  border: 1px solid var(--colors-interface-ford-white);
  display: flex;
  row-gap: 5px;
  flex-direction: column-reverse;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 1150px) {
  .chatWrapper {
    width: 50vw;
  }

  .container-chat {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 920px) {
  .chatWrapper {
    width: 55vw;
  }
}

@media (max-width: 550px) {
  .chatWrapper {
    position: fixed;
    inset: 0;
    width: 100%;
    box-shadow: none;
    padding: 10px 30px 20px;
    gap: 0;
    justify-content: space-between;
    align-items: center;
    max-height: 97dvh; /* чтобы чат не перекрывал footer */
  }

  .avatar {
    width: 43px;
    height: 43px;
    margin-left: 30px;
  }

  .mainBlock {
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
  }

  .messagesBlock {
    margin-top: 5px;
    padding: 0;
    height: 100%;
    border: none;
  }
}
