.userInfo {
  display: grid;
  justify-self: start;
  gap: 6px;
  grid-template-areas: 'avatar info' 'empty buttons';
  grid-auto-rows: min-content;
  margin-top: 4px;
}

.avatar {
  max-width: 60px;
  max-height: 60px;
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: start;
  justify-content: space-around;
}

.name {
  margin: 0;
  font-size: 20px;
  font-weight: var(--font-weight-regular);
  text-align: start;
  background-color: transparent;
}

.phone {
  margin: 0;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  color: var(--colors-interface-black);
  background-color: transparent;
}

.buttons {
  grid-area: buttons;
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

@media screen and (min-width: 1150px) {
  .userInfo {
    grid-area: recipient;
    justify-self: end;
    margin-right: 9px;
    margin-top: 7px;
    width: 181px;
    justify-items: center;
    grid-template-areas: 'avatar' 'info' 'buttons';
  }

  .avatar {
    grid-area: avatar;
    max-width: 100px;
    max-height: 100px;
  }

  .info {
    text-align: center;
  }

  .name {
    font-size: var(--font-size-s);
    text-align: start;
  }

  .phone {
    color: var(--colors-interface-primary);
  }

  .buttons {
    margin-top: 0;
  }
}
