.smart-header_container {
    width: 100%;
    border: 2px solid var(--colors-interface-primary);
    display: flex;
    justify-content: space-between;
    padding: 22px 30px;
    box-sizing: border-box;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

.text {
    padding: 0;
    margin: 0;
    color: var(--colors-interface-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.setting-icon {
    display: flex;
    margin-right: 15px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    margin-left: 10px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.button:hover {
    opacity: 0.6;
    transition: var(--transition-hover);
}

@media all and (max-width: 1025px) {

    .smart-header_container {
        padding: 15px;
    }

    .text {
        font-size: 16px;
    }

    .setting-icon {
        margin-right: 10px;
    }
    .setting-icon {
        max-width: 30px;
        max-height: 30px;
    }
    .button {
        max-width: 30px;
        max-height: 30px;
    }

}