.smart-header_container {
    width: 100%;
    min-width: 384px;
    border: 2px solid var(--colors-interface-primary);
    display: flex;
    justify-content: space-between;
    padding: 22px 30px;
    box-sizing: border-box;
    align-items: center;
}

.smart-header_block {
    display: flex;
    align-items: center;
}

.text {
    padding: 0;
    margin: 0;
    color: var(--colors-interface-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.setting-icon {
    display: flex;
    margin-right: 15px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.filterButton {
    display: flex;
    margin-left: 10px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: var(--transition-hover);
}

.filterButton:hover {
    opacity: 0.6;
}

@media all and (max-width: 1025px) {

    .smart-header_container {
        border: 1px solid var(--colors-interface-primary);
        padding: 15px;
    }

    .text {
        font-size: 16px;
    }

    .setting-icon {
        margin-right: 10px;
    }
    .setting-icon {
        max-width: 30px;
        max-height: 30px;
    }
    .filterButton {
        max-width: 30px;
        max-height: 30px;
    }

}

@media all and (max-width: 414px) {
    .text {
        max-width: 141px;
    }
}