.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 561px;
  margin-top: 12px;
  gap: 10px;
}

.heading {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.conflict {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--colors-interface-white);
  border: 1px solid var(--colors-interface-ford-white);
  max-height: 409px;
  padding: 17px 71px 7px;
}

.users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
