.wrapper {
  display: flex;
  column-gap: 5px;
  justify-content: right;
  align-items: center;
}

.adminButton {
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.title {
  text-align: right;
}

.icon {
  min-width: 32px;
  height: 32px;
  background-color: var(--colors-interface-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.icon_disable {
  composes: icon;
  min-width: 30px;
  height: 30px;
  background-color: var(--colors-interface-additional);
  border: 1px solid var(--colors-interface-white);
}

.title__background {
  position: absolute;
  left: 0;
  bottom: -4px;
}

@media (max-width: 920px) {
  .title {
    z-index: 2;
    background-color: transparent;
  }
}
