.find_btn {
  background-color: var(--colors-interface-white);
  background-image: url('../../../app/assets/images/background_search.svg');
  color: var(--colors-interface-white);
  padding: 5px;
  cursor: pointer;
  width: 169px;
  border: none;
  font-size: 14px;
  margin-left: 20px;
  padding: 0;
  background-repeat: no-repeat; /* Запрет повторения фона */
}

.find_btn_container {
  margin: 11px 0 8px 9px;
  display: flex;
  gap: 10px;
}