.header {
  height: 90px;
  padding-top: 5px;
}

.titlePrimary {
  margin: 0;
  padding: 40px 18px 12px 35px;
  font-family: 'Golos', sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: var(--colors-interface-primary);
}

.form {
  min-width: 360px;
  display: grid;
  gap: 25px;
  padding-left: 45px;
  justify-items: flex-start;
}

.field {
  width: 359px;
}
