.article {
  padding: 20px 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.author {
  display: flex;
  align-items: center;
}

.author_info {
  display: flex;
  flex-direction: column;
}

.author_name {
  margin: 0;
}

.author_id {
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
}

.author .author_avatar {
  width: 62px;
  height: 62px;
}

.text-block {
  width: 100%;
  position: relative;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 19px;
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  color: var(--colors-interface-black);
  font-style: normal;
  max-width: calc(100% - 40px);
}

.description {
  color: var(--colors-interface-black);
  font-style: normal;
  max-height: 172px;
  overflow: hidden;
  max-width: calc(100% - 40px);
  position: relative;
}

.description_visible {
  max-height: none;
  overflow: visible;
}

.description p:first-child {
  margin-top: 0;
}

.description::after {
  display: block;
  content: '';
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 100%
  );
  opacity: 1;
  transition: opacity 0.3s linear;
}

.description_visible::after {
  opacity: 0;
}

.full-description-button {
  background-color: transparent;
  padding: 0px;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  color: var(--colors-interface-primary);
  cursor: pointer;
}

.gallery {
  display: grid;
  gap: 5px;
}

.gallery-item-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.gallery-2 {
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
}

.gallery-3 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
}

.gallery-4 {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-auto-columns: 30%;
}

.gallery-item:first-child {
  grid-row: span 3;
}

.gallery-item:first-child .gallery-item-image {
  height: 100%;
}

.gallery-item:not(:first-child) .gallery-item-image {
  height: 100%;
}
