.container_main {
  max-width: 889px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 160px 1fr 186px max-content;
  border-bottom: 1px solid;
  border-image-source: var(--colors-interface-line);
  border-image-slice: 1;
  padding-bottom: 12px;
  position: relative;
  grid-template-areas: 'taskInfo description recipient buttons';
}

.container_main_confirmed {
  background-color: var(--color-interface-turquoise);
}

.container_main_conflict {
  background-color: var(--color-interface-orange-very-soft);
}

.container_main_default {
  background-color: none;
}

.category {
  width: 100%;
  position: absolute;
  top: 4px;
  left: 0;
  padding-top: 3px;
}

.buttons {
  grid-area: buttons;
  justify-self: end;
}

@media screen and (max-width: 1150px) {
  .container_main {
    grid-template-columns: minmax(250px, 1fr);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: 'buttons' 'recipient' 'description' 'taskInfo';
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--colors-interface-blue-very-soft);
  }

  .category {
    top: 0;
  }

  .recipient {
    justify-self: start;
    margin-right: 0;
    max-width: 100%;
  }
}

.modalTooltip {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.modalTitle {
  max-width: 310px;
  padding: 13px 0 12px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--colors-interface-ford-white);
}

.modalContent {
  padding: 20px 0;
  display: flex;
}

.flexColumn {
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.flexRow {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.modalButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  gap: 19px;
  position: relative;
}

.modalButtons::before {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--colors-interface-ford-white) 0% 10%,
    var(--colors-interface-primary) 50%,
    var(--colors-interface-ford-white) 90% 100%
  );
}

.modalTooltip {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.modalTitle {
  max-width: 310px;
  padding: 13px 0 12px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--colors-interface-ford-white);
}

.modalContent {
  padding: 20px 0;
  display: flex;
}

.flexColumn {
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.flexRow {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.modalButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  gap: 19px;
  position: relative;
}

.modalButtons::before {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--colors-interface-ford-white) 0% 10%,
    var(--colors-interface-primary) 50%,
    var(--colors-interface-ford-white) 90% 100%
  );
}
