.container {
  position: relative;
}

.select {
  padding: 4px 12px;
  width: 100%;
  transition: var(--transition-hover);
  height: 30px;
  color: var(--colors-interface-additional);
  border: 1px solid var(--colors-interface-primary-additional);
  box-sizing: border-box;
  background-color: var(--colors-interface-white);
}

.select:hover {
  border-color: var(--colors-interface-blue-navy);
  cursor: pointer;
}

.select:focus-visible {
  outline: none;
  border-color: var(--colors-interface-blue-navy);
}

.select_error {
  border-color: var(--colors-interface-orange);
}

.label {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 8px;
}

.icon {
  position: absolute;
  height: 24px;
  width: 33px;
  bottom: 5px;
  right: 1px;
  background-color: var(--colors-interface-white);
  cursor: pointer;
  pointer-events: none;
}

.icon_error {
  bottom: 23px;
}

.error {
  margin-top: 8px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--colors-interface-orange);
}

.icon:focus {
  display: none;
}

.for_storybook {
  width: 350px;
}
