.container {
  position: relative;
}

.select {
  padding: 12px;
  width: 100%;
  transition: var(--transition-hover);
  height: 44px;
  color: var(--colors-interface-additional);
  border: 1px solid var(--colors-interface-primary-additional);
  box-sizing: border-box;
  background-color: var(--colors-interface-white);
}

.select:hover {
  border-color: var(--colors-interface-blue-navy);
  cursor: pointer;
}

.select:focus-visible {
  outline: none;
  border-color: var(--colors-interface-blue-navy);
}

.label {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--colors-interface-primary);
  margin-bottom: 8px;
}

.icon {
  position: absolute;
  height: 24px;
  width: 33px;
  bottom: 10px;
  right: 1px;
  background-color: var(--colors-interface-white);
  cursor: pointer;
  pointer-events: none;
}

.icon:focus {
  display: none;
}

.for_storybook {
  width: 350px;
}
