.conflictCard {
  position: relative;
  width: 230px;
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
}

.specialization {
  position: absolute;
  top: 0;
  left: 17px;
}

.img {
  margin: 0 auto;
}

.conteiner {
  width: 70px;
  margin: 0 auto;
  display: flex;
  gap: 5px;
}

.name {
  margin: 5px 0 0 17px;
}

.id {
  margin: 0 0 0 17px;
}

@media screen and (max-width: 1440px) and (min-width: 1150px) {
  .conflictCard {
    width: 175px;
  }

  .specialization {
    left: 0;
  }

  .name {
    margin: 0 0 0 10px;
  }

  .id {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 550px) {
  .conflictCard {
    width: 175px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .specialization {
    left: 0;
    position: static;
  }

  .name {
    margin: 0 0 0 10px;
  }

  .id {
    margin: 0 0 0 10px;
  }
}
