.tooltip {
  padding: 22px 30px 34px 30px;
  max-width: 370px;
  box-sizing: border-box;
  position: absolute;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.filterBlock {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.filterDataBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filterBlockTitle {
  border-bottom: 1px solid var(--colors-interface-ford-white);
  padding-bottom: 3px;
  color: var(--colors-interface-black);
}

.filterBlockText {
  margin: 0;
}

.filterBlockTime {
  display: flex;
  width: 230px;
  align-items: center;
}

.checkboxesWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-template-rows: repeat(5, 29px);
  gap: 10px 30px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 38px;
}

.buttonWrapper__mobile {
  gap: 11px;
}

.radiusButtonsWrapper {
  display: flex;
  gap: 10px;
}

.radiusButton {
  width: 65px;
  height: 24px;
}

.calendar {
  padding: 12px;
  border: 0.5px solid #818C99;
}

.box {
  width: 129px;
}

@media screen and (max-width: 768px) {
  .tooltip {
    max-width: 343px;
  }
}
