.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.side {
  display: none;
}

.content {
  overflow-y: hidden;
}

@media all and (min-width: 920px) {
  .main {
    grid-template-columns: 295px 1fr;
    column-gap: 20px;
  }

  .side {
    display: block;
  }
}
