@font-face {
  font-family: 'Golos';
  src: url('./golos-700.woff2') format('woff2'),
    url('./golos-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Golos';
  src: url('./golos-400.woff2') format('woff2'),
    url('./golos-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
