.container {
  margin: 50px 0 0 76px;
  display: flex;
  flex-direction: column;
  min-width: 448px;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 54px;
}

.prevButton {
  margin-right: 20px;
}

.time {
  margin-left: 20px;
}

.addressWrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.typeOfTask {
  margin-top: 15px;
}

.descriptionForTask {
  margin-top: 5px;
}

.dateWrapper {
  display: flex;
}

.categories {
  margin-top: 20px;
}

@media (min-width: 361px) and (max-width: 735px) {
  .container {
    align-items: flex-start;
    margin: 0;
    min-width: 0;
  }
  .mainWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .buttonsWrapper {
    margin-top: 162px;
    justify-content: center;
  }
  .task {
    font-size: 24px;
    line-height: 29px;
    align-self: center;
  }
  .headerWrapper {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #2e3192 49.28%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 240px;
    height: 1px;
    margin-top: 4px;
    align-self: center;
  }
  .dateWrapper {
    margin-top: 30px;
  }
  .typeOfTask {
    margin-top: 5px;
  }
  .descriptionForTask {
    margin-top: 10px;
  }
  .categories {
    width: 169px;
  }
}
