.mainWrapper {
  position: relative;
  top: -8px;
}
.container {
  margin: 50px 0 0 76px;
  display: flex;
  flex-direction: column;
  width: 450px;
  min-height: 150px;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
}

.prevButton {
  display: none;
}

.addressWrapper {
  display: flex;
  margin-top: 20px;
}

.address {
  max-width: 269px;
}

.typeOfTask {
  margin: 15px 0 0;
}

.descriptionForTask {
  height: auto;
  max-height: 64px;
  transition: max-height 0.3s ease;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-wrap: anywhere;
}

.descriptionForTask.expanded {
  max-height: min-content;
  resize: none;
  transition: var(--transition-hover);
  box-sizing: border-box;
  white-space: pre-wrap;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  overflow-wrap: break-word;
  background-color: field;
  -webkit-line-clamp: unset;
}

.dateWrapper {
  display: flex;
  column-gap: 20px;
}

.categories {
  padding: 7px 2px 5px 10px;
  margin-top: 20px;
}

.edit_button {
  padding-left: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: flex-end;
}

.readMoreButton {
  background: none;
  border: none;
  color: var(--colors-interface-primary);
  cursor: pointer;
  padding: 0;
  align-self: flex-start;
  margin-top: 5px;
}

@media (max-width: 735px) {
  .mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin: 20px 0 0 0;
    width: 270px;
    height: 300px;
    gap: 30px;
  }

  .headerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .task {
    font-size: var(--font-size-medium);
  }

  .headerWrapper {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      var(--colors-interface-primary) 49.28%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 240px;
  }

  .mainText {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dateWrapper {
    flex-direction: column;
    gap: 5px;
  }

  .dateAndTime {
    display: flex;
    gap: 47px;
  }

  .edit_button{
    padding-left: 0;
  }

  .addressWrapper {
    flex-direction: column;
    margin-top: 0;
  }

  .addressOutput{
    display: flex;
  }
  .addressOutput svg {
    flex: 0 0 auto; /* Не растягивать и не сжимать */
    margin-left: -4px;
  }

  .testWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .categories {
    margin: 0;
  }

  .descriptionForTask {
    text-overflow: ellipsis;
    max-width: 250px;
    -webkit-line-clamp: 4;
    line-height: var(--line-height-m);
  }

  .prevButton {
    display: block;
  }

  .buttonsWrapper {
    gap: 10px;
    margin-top: 193px;
    justify-content: center;
    width: 260px;
    position: relative;
  }
}
