.link {
  text-decoration: none;
}

.navLink {
  text-decoration: none;
}

.addNewAdminSectionInner {
  display: flex;
  align-items: center;
  gap: 82px;
  padding: 35px 65px 20px 65px;
}

.iconCheckInBox {
  margin-top: 15px;
}

.title {
  color: var(--colors-interface-primary-additional);
}

.tabContainer__text {
  margin-right: 6px;
  color: var(--colors-interface-additional);
}

.tabContainer__textActive {
  color: var(--colors-interface-black);
}

.tabContainer__item {
  display: flex;
  margin-right: 40px;
}

.tabContainer__itemActive {
  position: relative;
  padding-bottom: 4px;
}

.tabContainer__itemActive::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--colors-interface-primary);
  border-radius: 2px;
  content: '';
}

.tabContainer {
  display: flex;
}

.tabContainer__number {
  background: #d60080;
  border-radius: 9px;
  min-width: 18px;
  height: 18px;
  color: var(--colors-interface-white);
  text-align: center;
}

.input {
  max-width: 351px;
  border-radius: 10px;
  margin: 25px 0 0 43px;
  width: 351px;
}

@media (max-width: 500px) {
  .input {
    width: 95%;
    margin: 0 auto;
  }
}
