div .container_thank {
  padding: 10px 30px 30px;
}

.container_thank {
  width: 370px;
}

.container_sorry {
  padding: 20px 115px 20px 30px;
}

div .closeButton_position {
  top: 15px;
}

@media screen and (max-width: 735px) {
  .container_thank,
  .container_sorry {
    width: 330px;
  }

  div .closeButton_position {
    top: 10px;
    right: 10px;
  }
}

.popupTitle {
  display: flex;
  align-items: center;
  border-bottom: var(--colors-interface-ford-white) 1px solid;
  text-align: center;
}

.popupTitle_thank {
  height: 45px;
  justify-content: center;
  text-wrap: nowrap;
}

.popupText {
  margin: 10px 0 0 0;
}

.popupIcon {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

.container_sorry::after {
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: var(--colors-interface-white);
  border-radius: 3px;
  bottom: 86%;
  content: '';
  position: absolute;
  left: 175px;
}

@media screen and (max-width: 920px) {
  .popupTitle {
    font-weight: 700;
  }
}
