.boxMessage {
  display: flex;
  flex-direction: column;
  max-height: 608px;
  min-width: 361px;
  max-width: 361px;
  height: 98%;
  box-sizing: border-box;
  overflow-y: auto;
  border: 1px solid var(--colors-interface-primary-additional);
}

.informer {
  width: 60%;
  margin: 30% auto;
}

@media (max-width: 550px) {
  .boxMessage {
    min-width: 100px;
    margin: 10px auto 0;
    width: 100%;
  }
}
