.taskInfo {
  grid-area: taskInfo;
  display: grid;
  row-gap: 14px;
  grid-template-areas:
    'date time'
    'address address';
  align-items: start;
  grid-auto-rows: min-content;
  color: var(--colors-interface-primary);
  margin-top: 10px;
  grid-auto-columns: min-content;
}

.date {
  grid-area: date;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  background-color: transparent;
}

.time {
  grid-area: time;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  margin-left: 28px;
  background-color: transparent;
}

.address {
  grid-area: address;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  background-color: transparent;
}

.icon {
  flex-shrink: 0;
}

.iconLocation {
  width: 22px;
}

@media screen and (min-width: 1150px) {
  .taskInfo {
    gap: 5px;
    margin-top: 44px;
    grid-template-areas: 'date' 'time' 'address';
    grid-auto-columns: auto;
    font: var(--font-golos-24-28);
  }

  .date {
    font: inherit;
  }

  .time {
    font: inherit;
    margin-left: 0;
  }

  .address {
    font-weight: var(--font-weight-regular);
  }
}
