.container {
  width: 370px;
  max-height: 236px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);
  background-color: var(--colors-interface-white);
  padding: 31px 30px 50px 30px;
  box-sizing: border-box;
  position: relative;
}

.exitButtonWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.headerWrapper {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #2e3192 49.28%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 100%;
  height: 1px;
  margin-top: 14px;
}

.headerText {
  text-align: center;
  margin: 0;
}

.informer {
  margin-top: 25px;
}

@media screen and (max-width: 735px) {
  .container {
    width: 263px;
    max-height: 154px;
    padding: 29px 15px;
  }
}

.confirmButton {
  margin-top: 33px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
