.content {  
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 20px; 
}

.content_no_smart_in_mobile {  
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px; 
}

.smart {  
 display: block;
}

.no_smart_in_mobile {  
  display: none;
 }

 @media all and (min-width: 700px){
  .content_no_smart_mobile {  
    grid-template-rows: auto 1fr;
    row-gap: 20px; 
  }

  .smart {  
    display: block;
   }

  .no_smart_in_mobile {  
    display: block;
   }
  
 }
