.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
}

.smart {
  display: block;
  position: relative;
}

.list {
  overflow-y: auto;
  position: relative;
}

@media all and (max-width: 920px) {
  .list::-webkit-scrollbar {
    display: none;
  }
}
