.form {
  max-width: 377px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 18px;
  justify-items: flex-start;
}

.text {
  padding-top: 10px;
  font: var(--font-golos-12-14);
  padding-bottom: 6px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
