.content {
  position: relative;
  min-height: 128px;
  border: 1px solid var(--colors-interface-blue-strong);
  margin-top: 31px;
  padding: 41px 30px 0 30px;
  width: 276px;
  box-sizing: border-box;  
}

.avatar {
  position: absolute;
  left: 0;
  top: 0;
  width: 62px !important;
  height: 62px !important;
  transform: translate(107px, -31px);
}

.user_info {
  display: grid;
  row-gap: 5px;
  grid-template-rows: repeat(3, auto);
}

.grid_two {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
}

.id_color {
  opacity: .5;
}
