.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.volunteerInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 46px;
}

.recipientInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 26px 9px 0 0;
}

.dataWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.count {
  color: var(--colors-interface-primary);
}
