.inputWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.input {
  width: 100%;
}

.input > div > input {
  height: 37px;
  font-size: var(--font-size-small);
  line-height: var(--line-height-xs);
  border: 1px solid var(--colors-interface-ford-white);
}

.input > div > input::placeholder {
  color: var(--colors-interface-primary);
  font-size: var(--font-size-small);
  line-height: var(--line-height-xs);
}

.button {
  width: 37px;
  height: 37px;
  padding: 10px;
}

.file {
  width: 1px;
  height: 1px;
  visibility: hidden;
  opacity: 0;
}

.file-box {
  display: flex;
  align-items: center;
  height: 17px;
  gap: 10px;
}

.file-name {
  max-width: 90%;
}

.pinIcon {
  top: 50%;
  transform: translateY(-55%);
}

.pinIconCursor {
  cursor: pointer;
}

.btn-close {
  cursor: pointer;
}

.box-message {
  margin-top: 10px;
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 550px) {
  .box {
    width: 100%;
    margin: 0 auto;
  }

  .box-message {
    width: 85%;
  }
}
