.input {
  max-width: 351px;
  margin: 30px 0 0 40px;
}

.menu_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.editButton {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 26px;
  border: none;
  padding: 0;
  outline: inherit;
  color: inherit;
  font: inherit;
  background: none;
  cursor: pointer;
}

.editButtonText {
  text-decoration: underline;
  text-decoration-color: var(--colors-interface-primary);
  text-underline-offset: 5px;
}