.input {
  max-width: 351px;
  margin: 30px 0 0 40px;
}

.input label {
  color: var(--colors-interface-primary);
}

.menu_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.editButton {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 26px;
  border: none;
  padding: 0;
  outline: inherit;
  color: inherit;
  font: inherit;
  background: none;
  cursor: pointer;
}

.editButtonText {
  text-decoration: underline;
  text-decoration-color: var(--colors-interface-primary);
  text-underline-offset: 5px;
}

@media screen and (max-width: 550px) {
  .input {
    max-width: 365px;
    margin: 30px 0 0 0;
  }
  /*.label {
    font-size: var(--font-size-small);
    line-height: var(--line-height-xs);
  }

  .input {
    font-size: var(--font-size-small);
    line-height: var(--line-height-xs);
  }*/
}
