.dropdown {
  width: 375px;
  margin: 0 auto;
  position: relative;
  user-select: none;
}

.button {
  padding: 0 11px 0 11px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
  border: solid 1px #818C99;
  font-size: 16px;
  font-family: 'Golos', sans-serif;
}

.content {
  font-family: 'Golos', sans-serif;
  list-style: none;
  max-height: 484px;
  margin: 0;
  padding: 0;
}

.item {
  border: solid 1px #818C99;
  border-top-width: 0;
  height: 48px;
  width: 375px;
  line-height: 46px;
  cursor: pointer;
  transition: all .2s;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:hover {
  background: #f4f4f4;
}
