.dropdown {
  position: relative;
  user-select: none;
}

.label {
  color: var(--colors-interface-primary);
  position: relative;
  bottom: 8px;
  left: 1px
}

.button {
  padding: 0 11px 0 11px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-sizing: border-box;
  border: solid 1px var(--colors-interface-additional);
  color: var(--colors-interface-primary);
}

.placeholder {
  color: var(--colors-interface-additional);
}

.content {
  list-style: none;
  max-height: 484px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  border: solid 1px var(--colors-interface-additional);
  border-top-width: 0;
}

.item {
  border-bottom: solid 1px var(--colors-interface-additional);
  height: 48px;
  line-height: 46px;
  cursor: pointer;
  transition: all .2s;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item:hover {
  background: #f4f4f4;
}

.item:last-child {
  border-bottom: none;
}
