.setting-button {
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background: url(./img/normal.svg) no-repeat;
  transition: var(--transition-hover);
  cursor: pointer;
}

.setting-button:hover {
  width: 36px;
  height: 35px;
  background-image: url(./img/hover.svg);
  transform: translate(7px, -7px);
}

.setting-button:disabled {
  background-image: url(./img/disabled.svg);
}

.setting-button:disabled:hover {
  transform: unset;
  cursor: default;
}
