.setting-button {
  width: 45px;
  height: 43px;
  border: none;
  background: none;
  background-image: url(./img/default.svg);
  background-repeat: no-repeat;
  transition: var(--transition-hover);
}

.setting-button:hover {
  background-image: url(./img/hover.svg);
  transform: translate(7px, -7px);
  cursor: pointer;
}

.setting-button:disabled {
  background-image: url(./img/disabled.svg);
}

.setting-button:disabled:hover {
  transform: unset;
  cursor: default;
}
