
.modalTooltip {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.modalTitle {
  max-width: 310px;
  padding: 13px 0 12px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--colors-interface-ford-white);
}

.modalContent {
  padding: 20px 0;
  display: flex;
}

.flexColumn {
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.flexRow {
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.modalButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  gap: 19px;
  position: relative;
}

.modalButtons::before {
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, var(--colors-interface-ford-white) 0% 10%, var(--colors-interface-primary) 50%, var(--colors-interface-ford-white) 90% 100%);
}