
.button {
  width: 100%;
  display: flex;
  border: none;
  padding: 0;
  color:black;
  background-color: transparent;
  cursor: pointer;
  justify-content: right;
  margin-top: 35px;
}

.title {
  margin: 0;
  text-align: right;
  font-family: 'Golos';
  font-size: 16px;
  line-height: 19px;
}
