.tooltip {
  position: relative;
  display: inline-block;
  padding: 30px;
  visibility: hidden;
  max-width: 370px;
  width: 100%;
  z-index: 15;
}

.tooltip,
.pointer {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);
  background-color: var(--colors-interface-white);
  z-index: 10;
}

.pointer {
  position: absolute;
  width: 20px;
  height: 8px;
  top: -8px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pointer--right {
  right: 4%;
}

.pointer--center {
  right: 50%;
}

.tooltip--visible {
  visibility: visible;
}
