.header__sidebar__container {
  position: absolute;
  box-sizing: border-box;
  right: 90px;
  top: 88px;
  background-color: var(--colors-interface-white);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  width: 250px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

@media screen and (min-width: 1440px) {
  .header__sidebar__container {
    right: calc((100vw - 1256px) / 2 - 10px);
  }
}

.header__sidebar__container_mobile {
  position: absolute;
  right: 22px;
  top: 82px;
  padding-top: 10px;
  background-color: var(--colors-interface-white);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  width: 194px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.16),
    0px 0px 4px 0px rgba(0, 0, 0, 0.04);
}

.header__sidebar__admin_button {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--colors-interface-ford-white);
  display: flex;
  color: var(--colors-interface-primary);
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100%;
  display: flex;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  justify-content: right;
  margin-top: 35px;
}