.card-button {
  display: flex;
  align-items: center;
  background-color: var(--colors-interface-primary);
  color: var(--colors-interface-white);
  border: none;
  cursor: pointer;
  height: 114px;
  padding: 0 12px;
}

@media (max-width: 360px) {
  .card-button {
    width: 200px;
  }
}

.card-button-active {
  background-color: var(--colors-interface-blue-strong);
}

@media (min-width: 361px) and (max-width: 735px) {
  .card-button {
    width: 224px;
    padding: 0 26px;
  }
}

@media (min-width: 736px) {
  .card-button {
    width: 276px;
    padding: 0 30px;
  }
}
.card-button:disabled {
  cursor: default;
}

.card-buttonImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-buttonContent {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.card-buttonLabel {
  display: flex;
  align-items: center;
  text-align: start;
}

.card-button:active {
  background-color: var(--colors-interface-blue-strong);
}
