.card-button {
  display: flex;
  align-items: center;
  background-color: var(--colors-interface-primary);
  color: var(--colors-interface-white);
  border: none;
  cursor: pointer;
  height: 114px;
  padding: 0 12px;
}

@media (max-width: 360px) {
  .card-button {
    width: 200px;
  }
}

.card-button-active {
  background-color: var(--colors-interface-blue-strong);
}

@media (min-width: 361px) and (max-width: 735px) {
  .card-button {
    width: 224px;
    padding: 0 26px;
  }
}

@media (min-width: 736px) {
  .card-button {
    width: 276px;
    padding: 0 30px;
  }
}

.card-button:disabled {
  cursor: default;
}

.card-buttonImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-buttonContent {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}

.card-buttonLabel {
  display: flex;
  align-items: center;
}

@media (max-width: 919px) {
  .card-buttonContent {
    flex-direction: column;
  }

  .card-button {
    max-width: 110px;
  }

  .card-buttonImg {
    max-width: 43px;
  }

  .card-buttonLabel {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    height: 35px;
  }
}



.card-button:active {
  background-color: var(--colors-interface-blue-strong);
}