.modalTooltip {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.modalTitle {
  max-width: 310px;
  padding: 13px 0 12px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--colors-interface-ford-white);
}

.modalContent {
  padding: 20px 0 !important;
  display: flex;
}
