.tabContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  padding-top: 16px;
  padding-left: 16px;
  list-style: none;
}

@media (max-width: 735px) {
  .tabContainer {
    overflow-x: auto;
    padding: 9px 0 10px 0;
    gap: 17px;
    max-width: 437px;
  }

  .tabContainer::-webkit-scrollbar {
    width: 0;
  }
}
