.image {
  max-width: 267px;
  max-height: 267px;
}

.content_box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 63px;
  max-width: 285px;
  margin-inline: auto;
}

@media screen and (min-width: 921px) {
  .content_box.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    transform: translate(-50%, -50%);
  }
}

.smart_header {
  margin-top: 10px;
  width: 100%;
  min-width: 285px;
}

.text_bloked {
  font-size: var(--font-size-medium);
  color: var(--colors-interface-primary-additional);
  line-height: var(--line-height-large);
  max-width: 285px;
}

.text_contact {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-large);
  color: var(--colors-interface-primary);
}

.link {
  color: rgba(46, 49, 146, 1);
  text-decoration: none;
  font-size: var(--font-size-medium);
  font-family: var(--font-family-inter);
}

.box {
  display: flex;
  flex-direction: column;
  overflow-y: unset;
}

.text_blocked {
  padding: 30px;
  color: var(--colors-interface-primary-additional);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-inter);
}
