.descriptionMain {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: minmax(300px, 333px);
  grid-template-rows: repeat(2, max-content);
  line-height: 24px;
  grid-template-areas: 'description'
                      'icon';
}

.textWithButton {
  grid-area: description;
  position: relative;
  display: flex;
}

.description {
  max-width: 333px;
  min-width: 300px;
  box-sizing: border-box;
}

.description_hidden {
  max-height: 120px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  position: absolute;
  height: 22px;
  right: -45px;
  bottom: 0;
  background: none;
  display: block;
  border: none;
  padding: 0;
  color: var(--colors-interface-primary);
}

.buttonUnderText {
  position: relative;
  width: auto;
  right: 0;
}

.button:hover {
  cursor: pointer;
  color: var(--colors-interface-primary-additional);
  transition: var(--transition-hover);
}

.icon {
  grid-area: icon;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 5px;
}

.count {
  color: var(--colors-interface-primary);
}

@media screen and (max-width: 1150px) {
  .descriptionMain {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, max-content);
    border-bottom: 1px solid;
    border-image-source: var(--colors-interface-line);
    border-image-slice: 1;
    gap: 37px;
    grid-template-areas: 'description' 'icon';
  }

  .textWithButton {
    margin-right: 58px;
  }

  .description {
    max-width: 600px;
  }

  .button {
    position: absolute;
    bottom: -27px;
    right: 0;
  }

  .icon {
    justify-self: end;
  }
}