.taskDescription {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-area: description;
  width: 100%;
  border-bottom: 1px solid;
  border-image-source: var(--colors-interface-line);
  border-image-slice: 1;
}

.card__expandable {
  margin-top: 20px;
  padding-right: 40px;
}

.card__task {
  overflow: hidden;
  font: var(--font-golos-16-22);
  color: var(--colors-interface-dark-gray);
  background-color: transparent;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 0;
  overflow-wrap: anywhere;
}

.taskExpanded {
  display: block;
  -webkit-line-clamp: unset;
}

.expandBtn {
  appearance: none;
  font: var(--font-golos-16-22);
  color: var(--colors-interface-primary);
  width: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right;
}

.score {
  align-self: flex-end;
  display: flex;
  gap: 3px;
  align-items: center;
  margin: 4px 6px 0 0;
}

.scoreText {
  font: var(--font-golos-12-14);
  color: var(--colors-interface-primary);
  background-color: transparent;
}

@media screen and (min-width: 1150px) {
  .taskDescription {
    padding-left: 14px;
    margin-top: 25px;
    border: none;
  }

  .card__task {
    -webkit-line-clamp: 5;
  }

  .card__expandable {
    display: flex;
    align-items: end;
  }

  .taskExpanded {
    display: inline;
  }

  .expandBtn {
    float: none;
  }

  .card__expandable:has(.taskExpanded) {
    display: inline;
    padding-right: 104px;
  }

  .score {
    align-self: start;
  }
}
