.wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* padding нужен, чтобы вмещался скролбар */
  padding-right: 10px;
}

/* Нужно, чтобы был отступ в конце основного текста */
.wrapper > .markdownStyles::after {
  content: '';
  display: block;
  width: 100%;
  /* По высоте такой же как и затемнение */
  height: 150px;
}

.markdownStyles {
  font-family: 'Golos', sans-serif;
  font-weight: 400;
  line-height: 22.4px;
  height: 85%;
}

.markdownStyles h1 {
  margin: 30px 0 0;
  line-height: 28.8px;
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 920px) {
  .markdownStyles h1 {
    margin: 20px 0 0;
  }
}

.markdownStyles h2 {
  margin: 30px 0 25px;
  line-height: 19.2px;
  font-size: 16px;
}

@media (max-width: 920px) {
  .markdownStyles h2 {
    margin: 20px 0 10px;
  }
}

.markdownStyles p {
  font-size: 16px;
  line-height: 22.4px;
  margin: 0 0 15px;
}

.markdownStyles blockquote {
  display: block;
  margin: 0;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 2px;
}

@media (max-width: 920px) {
  .markdownStyles blockquote {
    margin-inline-start: 0;
    padding-left: 0;
  }
}

.markdownStyles blockquote > p {
  margin: 0;
}

.title {
  display: flex;
  align-items: end;
  gap: 30px;
}

@media (max-width: 920px) {
  .title {
    gap: 3px;
    align-items: start;
  }
}

.editButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  gap: 5px;
  align-items: end;
}

@media (max-width: 920px) {
  .editButton {
    margin: 20px 0 0;
  }
}

.editButtonText {
  color: rgb(46, 49, 146);
  font-family: 'Golos', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 1px;
}

.editTitleText {
  font-family: 'Golos', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 30px;
  padding-bottom: 5px;
}

.editForm {
  display: flex;
  flex-direction: column;
  height: calc(100% - 101px);
}

@media all and (max-width: 920px) {
  .editForm {
    height: calc(100% - 55px - 19px);
  }
}

.titleInput {
  all: unset;
  display: block;
  border: 1px solid #2e3192;
  margin-bottom: 10px;
  padding: 10px 12px 7px 12px;
}

.editDescriptionText {
  font-family: 'Golos', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-bottom: 5px;
}

.descriptionInput {
  all: unset;
  display: block;
  border: 1px solid #2e3192;
  height: 85%;
  margin-bottom: 10px;
  padding: 15px 16px;
}

.buttonContainer {
  display: flex;
  gap: 30px;
  align-items: center;
  z-index: 1;
}

.closeButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  gap: 10px;
}

.closeButtonText {
  color: rgb(46, 49, 146);
  font-family: 'Golos', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
  margin-block-start: 0;
  margin-block-end: 0;
}

.smartHeaderOn {
  display: block;
  height: 55px;
  min-height: 30px;
  padding: 7px 20px 14px 20px;
  margin: 0;
}

.smartHeaderOff {
  display: none;
}
