.markdownStyles {
  font-family: 'Golos', sans-serif;
  font-weight: 400;
  line-height: 22.4px;
  height: 100%;
  overflow-y: auto;
  position: absolute;
}

.markdownStyles h1 {
  margin: 30px 0 0;
  line-height: 28.8px;
  font-size: 24px;
  font-weight: 400;
}

.markdownStyles h2 {
  margin: 30px 0 20px;
  line-height: 19.2px;
  font-size: 16px;
}

.markdownStyles p {
  font-size: 16px;
  line-height: 22.4px;
  margin: 0 0 15px;
}

.markdownStyles blockquote {
  display: block;
  margin: 0;
  margin-inline-start: 1.5em;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.markdownStyles blockquote > p {
  margin: 0;
}
