.content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  width: 100%;
}

.content:last-child {
  margin-bottom: 60px;
}

.content_empty {
  display: flex;
  flex-direction: column;
  padding-top: 126px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content_empty_mobile {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.add_task_icon {
  justify-self: center;
}

.add_task {
  display: grid;
  grid-template-columns: 155px 1fr;
  column-gap: 20px;
  width: 100%;
  height: 128px;
  align-content: center;
  border-bottom: 1px solid;
  border-image-source: var(--colors-interface-line);
  border-image-slice: 1;
}

.add_task_mobile {
  display: flex;
  flex-direction: column;
  height: 106px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
  border-image-source: var(--colors-interface-line);
  border-image-slice: 1;
}

.title_add_list {
  color: var(--colors-interface-primary-additional);
}

.title_add_empty {
  color: var(--colors-interface-primary);
}
