.userCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 34px 0 0 30px;
  width: 95%;
  overflow-y: auto;
  height: 55vh;
  justify-content: space-between;
}

.input {
  margin: 28px 0 0 42px;
  width: 351px;
}
