.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;

  color: var(--colors-interface-black);
}

.checkbox:disabled + label {
  color: #818c99;
}

.checkboxIconWrapper {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 14px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  content: '';
  border: 2px solid var(--colors-interface-yorkshire-cloud);
  border-radius: 4px;
  transition: var(--transition-hover);
  background-color: white;
}

.checkboxIcon {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.checkbox:disabled + label > .checkboxIconWrapper {
  opacity: 0.4;
}

.checkbox:checked + label > .checkboxIconWrapper {
  cursor: pointer;
  background-color: var(--colors-interface-primary);
  border-color: var(--colors-interface-primary);
  transition: var(--transition-hover);
}

.checkbox:hover + label > .checkboxIconWrapper > .checkboxIcon {
  visibility: visible;
}

.checkbox:checked + label > .checkboxIconWrapper > .checkboxIcon {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  transition: transform 0.2s ease;
  top: 15px;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 0%);
  background-color: #fbfdff;
  color: var(--colors-interface-black);
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
}

.checkbox:disabled:hover + label {
  & .tooltip {
    visibility: visible;
  }
}
