.dataWrapper {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0;
}

.volunteerInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 24px 0 34px 0;
  justify-content: center;
}
